:root {
  --branding-color: #6c63ff;
  --secondary-color: #f9f7fe;
  --tertiary-color: #352069;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

@media (max-width: 900px) {
  h1 {
    font-size: 44px;
    line-height: 56px;
  }

  h2 {
    font-size: 44px;
  }

  .hero {
    padding: 80px 20px;
  }

  .content-container {
    text-align: center;
    padding: 0;
  }
}

body {
  font-family: var(--default-font-family);
}

h1 {
  font-family: "Playfair Display", serif;
  color: var(--tertiary-color);
  font-size: 96px;
  font-weight: bold;
  line-height: 1;
}

h2 {
  font-family: var(--heading-font-family);
  line-height: 2;
  font-size: 24px;
  font-weight: normal;
}

h4 {
  font-size: 48px;
  color: var(--tertiary-color);
}

p {
  font-family: var(--default-font-family);
  font-size: 26px;
  font-weight: bold;
  margin: 0;
  color: var(--tertiary-color);
}

div {
  display: block;
}

img {
  border-radius: 5px;
}

nav a {
  margin-left: 20px;
}

footer {
  margin: 60px 0;
}

footer .contact-box {
  background-color: var(--secondary-color);
  padding: 30px 120px;
  border-radius: 10px;
}

footer .contact-box p {
  margin: 0;
}

footer .email-link {
  text-decoration: none;
  font-size: 24px;
  text-align: center;
  margin-bottom: 40px;
  color: var(--tertiary-color);
}

footer .email-link:hover {
  color: var(--branding-color);
}

footer .social-links a {
  margin: 0 20px;
  color: var(--branding-color);
  background-color: var(--secondary-color);
  padding: 10px 14px;
  font-size: 18px;
  border-radius: 50%;
}

footer .social-links a:hover {
  color: white;
  background-color: var(--branding-color);
  transition: all 100ms ease-in-out;
}

.projects h2 {
  font-size: 64px;
  line-height: 1.2;
}

.projects p {
  font-weight: 100;
  margin-bottom: 20px;
  display: block;
  font-family: var(--default-font-family);
}

.btn-branding-outline {
  border: 1px solid var(--branding-color);
  color: var(--branding-color);
  display: block;
  font-size: 18px;
  max-width: 180px;
}

.container {
  margin: 0 auto;
  max-width: 100%;
}

.hero {
  text-align: center;
  background-color: var(--secondary-color);
  padding: 160px 20px;
}

.content-container {
  padding: 160px 40px;
}

.content-container h1 {
  font-size: 64px;
  line-height: 80px;
}

.content-container h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
  font-weight: 600;
}

.content-container p {
  font-size: 16px;
}

.content-container img {
  margin-top: 60px;
}

.content {
  margin: 30px;
}

.content h3 {
  font-size: 24px;
  font-family: var(--default-font-family);
  line-height: 1.5;
  margin: 20px 0 0;
}

.content p {
  font-size: 14px;
}

.project-description {
  padding: 120px 60px;
  color: var(--tertiary-color);
}

.main-button {
  background: var(--branding-color);
  color: white;
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  margin-top: 48px;
  font-family: var(--default-font-family);
  border: 1px solid transparent;
  min-width: 170px;
}

.contact-button {
  margin-right: 30px;
}

.btn {
  font-weight: 400;
  padding: 15px 30px;
  margin-top: 48px;
}
