:root {
  --branding-color: #6c63ff;
  --secondary-color: #f9f7fe;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--default-font-family);
}

h1 {
  font-family: "Playfair Display", serif;
  color: black;
  font-size: 96px;
  font-weight: bold;
}

h2 {
  font-family: var(--heading-font-family);
  line-height: 2;
  font-size: 24px;
  font-weight: normal;
}

p {
  font-family: var(--default-font-family);
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: #272142;
}

div {
  display: block;
}

.projects h2 {
  font-size: 64px;
  margin-bottom: 48px;
}

.projects p {
  font-size: 36px;
  font-weight: 100;
  text-align: center;
  margin-bottom: 20px;
  display: block;
  font-family: var(--default-font-family);
}

.btn-branding-outline {
  border: 1px solid var(--branding-color);
  color: var(--branding-color);
  display: block;
  margin: 0 auto;
}

.container {
  margin: 0 auto;
  max-width: 100%;
}

.hero {
  text-align: center;
  background-color: var(--secondary-color);
  padding: 160px 20px;
}

.contact-button {
  background: var(--branding-color);
  color: white;
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  margin-top: 48px;
  font-family: var(--default-font-family);
  border: 1px solid transparent;
}

.btn {
  font-weight: 400;
  padding: 15px 30px;
  margin-top: 48px;
}
